<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Elitia.Properties.Settings.ElitiaConnectionString" connectionString="Data Source=DESKTOP-2ED8VPU;Initial Catalog=Elitia;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
